
@{
    ViewBag.Title = "Index";
}

<h2>Entry</h2>
<style>
    .ui-menu-item{
        background-color:beige;
    }
</style>
<input type="text" id="voucherNo"/>

<div id="voucherDetails">
    
</div>

<script>
    $("#voucherNo").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "@Url.Action("getVoucherList", "VoucherEntry", new { area = "" })",
                type: "POST",
                dataType: "json",
                data: { voucherNO: request.term },
                success: function (data) {
                    //console.log(data);
                    response($.map(data, function (item) {
                        return { label: item.voucherNo, value: item.count };
                    }))
                }
            })
        }, select: function (event, ui) {
            event.preventDefault();
            $("#voucherNo").val(ui.item.label);
            $.ajax({
                url: "@Url.Action("getVoucherDetails", "VoucherEntry", new { area = "" })",
                type: "GET",
            //dataType: "json",
            data: { voucherNO: ui.item.label },
            success: function (data) {
                console.log(data);
                $("#voucherDetails").html(data);
            }
        })
        },
    }).autocomplete("instance")._renderItem = function (ul, item) {
        //console.log(item);
        return $("<li>")
          .append("<div >" + item.label + "    <span class='badge' style='float:right'>" + item.value + "</span></div>")
          .appendTo(ul);
    };
</script>

<div style='float:right'></div>