
@{
    ViewBag.Title = "Index";
}

<h2>Entry</h2>
<style>
    .ui-menu-item{
        background-color:beige;
    }
    /*.modal{
        display:none;
        position:fixed;
        z-index:22;
        left:0;
        top:0;
        width:100%;
        height:100%;
        overflow:auto;
        background-color:rgba(0,0,10,0.4);
    }
    .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
}*/
</style>
<input type="text" id="voucherNo"/>
<input type="text" id="AccountNo" />
<input type="text" id="Name" />
<input type="text" id="ProjectNo" />
<input type="text" id="CommitNo" />
<input type="text" id="VoucherType" />
<input type="text" id="ChequeNo" />

<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div id="voucherDetails">

        </div>
    </div>

</div>


<script>
    $("#voucherNo").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "@Url.Action("getVoucherList", "VoucherEntry", new { area = "" })",
                type: "POST",
                dataType: "json",
                data: { voucherNO: request.term },
                success: function (data) {
                    //console.log(data);
                    response($.map(data, function (item) {
                        return { label: item.voucherNo, value: item.count };
                    }))
                }
            })
        }, select: function (event, ui) {
            event.preventDefault();
            $("#voucherNo").val(ui.item.label);
            $.ajax({
                url: "@Url.Action("getVoucherDetails", "VoucherEntry", new { area = "" })",
                type: "GET",
            //dataType: "json",
            data: { voucherNO: ui.item.label },
            success: function (data) {
                console.log(data);
                $("#voucherDetails").html(data);
                $("#myModal").show();
                setTimeout(function () { adjustTable(); }, 1000);
                //adjustTable();
            }
        })
        },
    }).autocomplete("instance")._renderItem = function (ul, item) {
        //console.log(item);
        return $("<li>")
          .append("<div >" + item.label + "    <span class='badge' style='float:right'>" + item.value + "</span></div>")
          .appendTo(ul);
    };
</script>

<div style='float:right'></div>