<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="FACCT" providerName="System.Data.SqlClient" connectionString="Data Source=USER1-PC;Initial Catalog=FACCT;Integrated Security=False;User Id=sa;Password=IcsR@123#;MultipleActiveResultSets=True" />
  </connectionStrings>
</configuration>